body{
    
    font-family: bookman;
    margin-top: 60px;
    background:url(https://w-dog.net/wallpapers/12/2/488982259843064/close-up-land-asphalt-sun-rays-bokeh-blur-background-wallpaper-widescreen-full-screen-widescreen-hd-wallpapers-background-wallpaper.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width:200px;
    border-radius:50%;
}


.container{
    max-width:800px;
    margin: 0 auto;
    color: white;
    font-family: bookman-header;
    padding-left:20px;
    padding-right:20px;

}
.art{
    width : 100px;
    font-family: sans-serif;
    font-weight:300;
    border : #3b5998;
    background: #3b5998;
    color: white;
    border-radius:2px;
    height:25px;
    text-decoration:none;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.left {
  animation-name: fadeInLeftBig;
}
hr {
animation-name: fadeInLeftBig;
animation-duration: 2s;
  animation-fill-mode: both;

}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.right {
  animation-name: fadeInRightBig;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeDown {
  animation-name: fadeInDown;
}

input[type = "submit"]{
    
    width : 75px;
    font-family: sans-serif;
    font-weight:300;
    border : #3b5998;
    background: #3b5998;
    color: white;
    border-radius:5px;
    height:20px;
}
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
input[type = "submit"]:hover{
    
     background:#8b9dc3;
}

input[type="text"]:focus{
    border: 1px solid blue;
}
    
button{
    width : 75px;
    font-family: sans-serif;
    font-weight:300;
    border : #3b5998;
    background: #3b5998;
    color: white;
    border-radius:5px;
    height:20px;
}button:hover{
    
    background:#8b9dc3;
}


