body{
    
    font-family: sans-serif;
    margin-top: 60px;
    background:#f92727;
    background-repeat:no-repeat;
    background-size:cover;
    
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}
#image{
    height:20px;
    width:20px;
}
#image:hover{
    animation-name: rotateIn;
  animation-duration: .5s;
  animation-fill-mode: both;
  
 
}

.img-medium {
    height: 200px;
    width:200px;
    border-radius:50%;
}


.container{
    max-width:800px;
    margin: 0 auto;
    color: white;
    font-family: sans-serif;
    padding-left:20px;
    padding-right:20px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
    padding-left:10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover #image {
    background-color: #3e8e41;
}*/
.art{
    width : 100px;
    font-family: sans-serif;
    font-weight:300;
    border : #3b5998;
    background: #3b5998;
    color: white;
    border-radius:2px;
    height:25px;
    text-decoration:none;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.left {
  animation-name: fadeInLeftBig;
}
hr {
animation-name: fadeInLeftBig;
animation-duration: 2s;
  animation-fill-mode: both;

}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
hr{
    color:white;
   
}
.right {
  animation-name: fadeInRightBig;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeDown {
  animation-name: fadeInDown;
}

input[type = "submit"]{
    
    width : 75px;
    font-family: sans-serif;
    font-weight:300;
    border : #3b5998;
    background: #3b5998;
    color: white;
    border-radius:5px;
    height:20px;
}
@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
input[type = "submit"]:hover{
    
     background:#8b9dc3;
}

input[type="text"]:focus{
    border: 1px solid blue;
}
    
button{
    width : 75px;
    font-family: sans-serif;
    font-weight:300;
    border :  1px  solid white;
    background: transparent;
    color: white;
    border-radius:5px;
    height:20px;
}button:hover{
    
    background:white;
    border : 1px solid #4a4a4a;
     color: #4a4a4a;
    
    
}


